.main {
    box-sizing: border-box;
    padding: 25px 25px;
    padding-top: 0px;
    padding-bottom: 0px;
    font-family: 'fonte';
}

#wrapper {
    overflow: hidden;
    height: 100%;
    position: relative;
}

#info_text {
    box-sizing: border-box;
    overflow: hidden;
    color: var(--gold);
    width: 100%;
    height: 40px;
    margin: 0 auto;
    margin-bottom: 10px;
    padding-left: 5px;
    text-align: left;
    font-size: 26px;
    /* border-left: 1px solid var(--white); */
}

#text_info {
    text-shadow: 0px 0px;
    letter-spacing: 0px;
    position: relative;
    color: var(--light-gray);
    top: -10px;
    font-size: 20px;
}

#warning_status {
box-sizing: border-box;
    color: #be3030;
    width: 100%;
    height: 63px;
    margin: 0 auto;
    margin-bottom: 17px;
    padding-left: 5px;
    text-align: left;
    font-size: 30px;
    border-bottom: 1px solid #5f5f5f;
    display: block;
}

#text {
    position: relative;
    color: white;
    top: -11px;
    font-size: 20px;
    padding-top: 9px;
    display: block;
}

table {
    float: left;
    box-sizing: border-box;
    display: block;
    overflow-y: scroll;
    /* border-collapse: collapse; */
    width: 50%;
    height: 250px;
    font-size: 16px;
    padding-right: 4px;
}

tbody {
    box-sizing: border-box;
    width: 100%;
    display: table;
}

table::-webkit-scrollbar {
    width: 5px;
    background-color: transparent;
}
table::-webkit-scrollbar-thumb {
    background-color: var(--white-trans);
}
table::-webkit-scrollbar-track {
    background-color: var(--black-trans);
}

.prod_name {
    width: 70%;
    text-align: left;
    letter-spacing: 1px;
    line-height: 40px;
    color: #9d9d9d;
}

tr {
    height: 40px;
}

.row0 {
    background-color: var(--gray-trans);
}

.presence span {
    padding-left: 10px;
    color: var(--white);
}

.input_val {
    width: 20%;
    text-align: center;
}

.input_form {
background-color: transparent;
    border: none;
    text-align: center;
    font-family: 'Neucha', cursive;
    font-size: 20px;
    color: #ffffff;
    height: 20px;
    /* width: 100%; */
    transition-duration: 0.4s;
    width: 50%;
    margin-top: 10px;
}

.input_form:focus {
    background-color: var(--white-trans);
    color: var(--black) !important;
    outline: none !important;
}

/*В js есть проблема, связанная с тем, что после изменения 'input value' hover больше не работает*/
.input_form:hover {
    background-color: var(--white-trans) !important; 
    color: var(--black) !important;
} 

.notsale {
    color: var(--red) !important;
}

.btn {
    width: 20%;
    text-align: right;
    padding-right: 5px;
}

.btn  button{
    width: 75%;
    color: var(--white);
    font-size: 20px !important;
    font-family: 'Neucha', cursive;
    height: 100%;
    outline: none;
    box-shadow: 0 0 3px var(--light-gray);
}

.btn  button:hover {
    color: var(--black);
   box-shadow: 0 0 8px var(--white-trans)
}

.btn2  button{
    background-color: var(--red);
}

.btn2  button:hover {
    color: var(--white);
}

.prod_name div {
    overflow: hidden;
    box-sizing: border-box;
    width: 15px;
    height: 40px;
    float: left;
    margin-right: 5px;
    color: #1da507;
    font-size: 40px;
    text-align: center;
    line-height: 40px;
    margin-left: 10px;
}

.prod_name div .online {
    color: var(--green);
}
.offline {
    color: var(--red) !important;
}
.prod_name div .online_notwork {
    color: var(--gold);
}

input {
    border-radius: 4px;
}

.input_val{
    box-sizing: border-box;
    width: 24%;
    text-align: center;
    line-height: 40px;
}



.septim_img {
    width: 5%;
    background-image: url(resources/img/septim.png);
    background-size: 26px 26px;
    background-repeat: no-repeat;
    background-position: center center;
}
.septim_text {
    float: right;
    line-height: 40px;
}

button[class='workerRemove'] {
    color: var(--white);
    background-color: var(--red);
    box-shadow: 0 0 3px var(--red);
}
button[class='workerRemove']:hover {
    color: var(--white);
   background-color: var(--red);
   box-shadow: 0 0 8px var(--red);
}


/*.active {
    color: var(--black) !important;
}*/

#progressBar_div {
    clear: both;
    box-sizing: border-box;
    width: 100%;
    font-size: 20px;
}

#cleanBar, #heatBar {
margin-top: 6px;
    position: relative;
    height: 27px;
    /* overflow: hidden; */
    box-sizing: border-box;
    border-radius: 4px;
    /* box-shadow: 0 0 3px var(--white);*/
        font-size: 16px;
}

#cleanBar_col, #cleanBar_val {
    width: 100%;
    height: 25px;
}
#cleanBar_col {
    position: absolute;
    background-color: var(--gold-trans);
    -webkit-clip-path: polygon(0 0, 55% 100%, 100% 0);
    clip-path: polygon(1% 5%, 8% 103%, 2409% 0%);
}
#cleanBar_val {
    position: absolute;
    background-color: transparent;
    color: var(--white);
    text-align: center;
    line-height: 30px;
}

#cleanBar_col {
    width: 100%;
}

#heatBar_col {
       height: 25px;
    text-align: center;
    background-color: var(--green);
    -webkit-clip-path: polygon(0 100%, 53% 0, 100% 100%);
        clip-path: polygon(-7007% 100%, 100% 0, 94% 133%);
}

#cleanText, #heatText {
    box-sizing: border-box;
    padding: 0px 0px 0px 152px;
    float: left;
    width: 50%;
    text-align: center;
    margin-top: 8px;
}

#heatText {
    padding: 0px 153px 0px 0px;
    text-align: left;
    padding-left: 0px;
    border-left: 2px solid #777;
    margin-left: -1px;
}

span.test-ubr {
  display: block;
    padding-right: 10px;
    text-align: right;
}

span.test-ubr-2 {
    display: block;
    padding-left: 10px;
}

.prod_name span {
    letter-spacing: 1px;
    color: var(--light-gray);
    font-size: 16px;
}

.septim {
    color: #ffffff;
    font-size: 25px;
    height: 40px;
    line-height: 46px;
    float: left;
}
.septim_img {
float: left;
    box-sizing: border-box;
    height: 20px;
    width: 20px;
    background-image: url(resources/img/septim.png);
    background-size: 18px 18px;
    background-repeat: no-repeat;
    background-position: center center;
    margin-top: 11px;
    margin-left: 5px;
}

.stat_text {
    float: left;
    font-size: 20px;
    color: (--white);
    line-height: 44px;
    margin-right: 10px;
}

#TOP {
    overflow: hidden;
    width: 49%;
    height: 295px;
    clear: both;
    float: left;
}

#TOP_tab {
    width: 100%;
    height: 235px;
    font-size: 16px;
    margin-bottom: 0px;
    display: block;
    position: relative;
}
#TOP_tab .prod_name span {
color: #ffffff;
    margin-right: 5px;
    margin-left: 10px;
}

#TOP_tab tr {
    height: 45px;

}

.tab_name1, .tab_name2 {
    font-size: 20px;
    color: #ffffff;
    float: left;
    width: 49%;
    text-align: center;
    margin-bottom: 15px;
    margin-top: 10px;
    font-family: 'Bankir-Retro';
}
/*.tab_name2 {
    width: 60%;
}*/

#TOP button {
box-sizing: border-box;
    margin-right: 0%;
    float: left;
    width: auto;
    height: 30px;
    outline: none;
    font-size: 16px;
    font-family: 'Bankir-Retro';
    border: none;
    margin-top: 22px;
}

.button-men {
    display: block;
    margin: 0 auto;
    position: relative;
    text-align: center;
    width: 100%;
    margin-left: 4px;
}

.taver-top-logo {
    text-align: center;
    /* position: absolute; */
    /* display: block; */
    margin-top: 10px;
    margin-bottom: -20px;
}

.taver-top-logo img {
    width: 50px;
}
