body {
    /*background-color: rgba(0, 0, 0, 0.80); */
    /* margin: 0 0; */
    margin-left: 500px;
    margin-top: 180px;
    overflow: hidden;
    width: 960px;
    height: 100%;
    background-color: transparent;
}


html {
    background-image: url(back.png);
    background-repeat: no-repeat;
    /* background-size: contain; */
    width: 100%;
    height: 100%;
    margin: 0 auto;
    overflow: scroll;
}

header {
    width: 100%;
    height: 63px;
    /* background-image: url(../resources/img/top-menu-taverna-v2.png); */
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

}

.void {
    width: 100%;
    height: 25px;
    background-color: transparent;
}

.main {
    overflow: hidden;
    width: 100%;
    height: 591px;
    border-radius: 4px;
    background-image: url(../resources/img/content-taverna-v3.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

header a{
    transition: 0.3s;
    text-decoration: none;
}

/*header a:visited {
    color: var(--white);
}*/

.header_icon-block {
    float: left;
    width: 141px;
    margin-left: 84px;
    height: 50px;
    margin-top: 6px;
}

.header_icon-block a:hover {
    opacity: 2;
}
.header_icon-block a {
    float: left;
    width: 33px;
    height: 38px;
    text-align: center;
    margin-top: 5px;
    padding-top: 8px;
    opacity: 0.5;
}

header a>img {
    margin: 0 auto;
    margin-top: 5px;
    width: 17px;
    height: 17px;
}

.price-tavern {
    display: block;
    position: relative;
    float: right;
    margin-top: 12px;
    margin-right: 81px;
}

#header_name {
    box-sizing: border-box;
    display: block;
    width: 50%;
    height: 100%;
    font-family: 'Bankir-Retro';
    text-align: center;
    font-size: 21px;
    line-height: 63px;
    padding-left: 0px;
    margin: 0 auto;
    color: #fff;
}

#header_name img {
    float: left;
    display: block;
    margin-right: 10px;
}

.header_btn_exit {
    overflow: hidden;
    float: right;
    width: 10%;
    margin-right: 6px;
    padding-top: 7px;
    height: 100%;
    display: none;
}

.header_btn_exit a {
    float: left;
    width: 32px;
    height: 50px;
    text-align: center;
    margin: 0 auto;
    cursor: pointer;
}

.header_btn_exit img {
    margin-top: 14px;
    margin-right: 11px;
    margin-left: 11px;
    width: 22px;
    height: 22px;
    text-align: center;
    margin: 0 auto;
    padding-top: 14px;
}

/*header a:hover {
    background-color: var(--white-trans);
    color: var(--black);
}

.active {
   background-color: var(--white);
   color: var(--black);
}*/