.main {
    box-sizing: border-box;
    padding: 10px 10px;
    font-family: 'Neucha', cursive;
}

#wrapper {
    overflow: hidden;
    height: 100%;
}

#info_text {
    box-sizing: border-box;
    overflow: hidden;
    color: var(--gold);
    width: 100%;
    height: 60px;
    margin: 0 auto;
    margin-bottom: 10px;
    padding-left: 5px;
    text-align: left;
    font-size: 26px;
    /* border-left: 1px solid var(--white); */
}

#text_info {
    text-shadow: 0px 0px;
    letter-spacing: 0px;
    position: relative;
    color: var(--light-gray);
    top: -10px;
    font-size: 20px;
}

#warning_status {
    box-sizing: border-box;
    background-color: var(--white-trans);
    color: var(--red);
    width: 100%;
    height: 60px;
    margin: 0 auto;
    margin-bottom: 10px;
    padding-left: 5px;
    border-left: 5px solid var(--red);
    text-align: left;
    font-size: 24px;
    /* display: none; */
}

#text {
    position: relative;
    color: var(--black);
    top: -10px;
    font-size: 20px;
}

table {
    box-sizing: border-box;
    display: block;
    overflow-y: scroll;
    border-collapse: collapse;
    width: 100%;
    height: 355px;
    font-size: 20px;
}

tbody {
    box-sizing: border-box;
    width: 100%;
    display: table;
}

table::-webkit-scrollbar {
    width: 5px;
    background-color: transparent;
}
table::-webkit-scrollbar-thumb {
    background-color: var(--white-trans);
}
table::-webkit-scrollbar-track {
    background-color: var(--black-trans);
}

.prod_name {
    width: 70%;
    text-align: left;
    letter-spacing: 1px;
}

.prod_name span {
    letter-spacing: 1px;
    color: var(--light-gray);
    font-size: 16px;
}

.row0 {
    background-color: var(--gray-trans);
}

.presence span {
    padding-left: 10px;
    color: var(--white);
}

.septim_img {
    width: 5%;
    background-image: url(../resources/img/septim.png);
    background-size: 26px 26px;
    background-repeat: no-repeat;
    background-position: center center;
}

.input_val {
    width: 20%;
    text-align: right;
}

.input_form {
    background-color: transparent;
    border: none;
    text-align: center;
    font-family: 'Neucha', cursive;
    font-size: 20px;
    color: var(--gold);
    height: 20px;
    width: 50%;
    transition-duration: 0.4s;
}

.input_form:focus {
    background-color: var(--white-trans);
    color: var(--black) !important;
    outline: none !important;
}

/*В js есть проблема, связанная с тем, что после изменения 'input value' hover больше не работает*/
.input_form:hover {
    background-color: var(--white-trans) !important; 
    color: var(--black) !important;
} 

.notsale {
    color: var(--red) !important;
}

tr {
    height: 40px;
}
input {border-radius: 4px;}