@font-face {
    font-family: Bankir;
    src: url(..\resources\font\Bankir-Retro.ttf);
    font-family: Comfortaa;
    src: url(..\resources\font\Comfortaa-light.ttf);
    font-family: Oswald;
    src: url(..\resources\font\Oswald-Regular.ttf);
    font-family: Futura;
    src: url(..\resources\font\Futura.ttf);

}

    @font-face {
font-family: 'fonte';
    
    src:    url('https://nomail.com.ua/files/eot/e8664beffc4d5f39a55fa89979d7d726.eot?#iefix') format('embedded-opentype'),
            url('https://nomail.com.ua/files/woff/e8664beffc4d5f39a55fa89979d7d726.woff') format('woff'),
            url('https://nomail.com.ua/files/woff2/e8664beffc4d5f39a55fa89979d7d726.woff2') format('woff2');
}
@font-face { font-family: 'FuturaCondensedPlain';  src: local('FuturaCondensedPlain'), url('https://nomail.com.ua/files/woff/e8664beffc4d5f39a55fa89979d7d726.woff') format('woff'); }


:root {
    --white: #ebebe3;
    --gray: #2b2b28;
    --light-gray: rgb(124, 124, 124);
    --black: black;
    --gold: #e7a117; 
    --light-green: #84DCC6;
    --green: #4ecca3;
    --red: #be3030;
    --light-blue: #93deff;
    --blue: #0092ca;
    --black-trans: rgba(0, 0, 0, 0.8);
    --white-trans: rgba(235, 235, 227, 0.8);
    --red-trans: rgba(190, 48, 48, 0.5);
    --gray-trans: rgba(43, 43, 40, 0.5);
    --gold-trans: rgba(231, 161, 23, 0.5);
    --blue-trans: rgba(0, 215, 253, 0.5);
    --green-trans: rgba(78, 204, 163, 0.5);
    --light-green-trans: rgba(132, 220, 198, 0.5);
}

body {
    color: var(--white);
    overflow: hidden;
}

button {
    overflow: hidden;
    color: #ffffff;
    transition-duration: 0.4s;
    background: none;
    cursor: pointer;
    margin: 0 auto;
    text-align: center;
    margin-top: 15px;
}

button:hover {
    background-color: rgb(255, 255, 255);
    color: #000000;
}