.main {
    box-sizing: border-box;
    padding: 10px 10px;
    font-family: 'Neucha', cursive;
}

#wrapper {
    overflow: hidden;
    height: 100%;
    padding: 20px;
}

#info_text {
    box-sizing: border-box;
    overflow: hidden;
    color: var(--gold);
    width: 100%;
    height: 60px;
    margin: 0 auto;
    margin-bottom: 10px;
    padding-left: 5px;
    text-align: left;
    font-size: 19px;
    border-bottom: 1px solid #777;
    margin-bottom: 65px;
}

.price-tavern {
    display: block;
    position: relative;
    float: right;
    margin-top: 12px;
    margin-right: 10px;
}

.stat_text {
    float: left;
    font-size: 20px;
    color: (--white);
    line-height: 40px;
    margin-right: 10px;
}

.septim {
    color: #2fb200;
    font-size: 20px;
    height: 40px;
    line-height: 40px;
    float: left;
}

#text_info {
    text-shadow: 0px 0px;
    letter-spacing: 0px;
    position: relative;
    color: var(--light-gray);
    top: -10px;
    font-size: 17px;
    margin-top: 10px;
    display: block;
}

#warning_status {
    box-sizing: border-box;
    background-color: var(--white-trans);
    color: var(--red);
    width: 100%;
    height: 60px;
    margin: 0 auto;
    margin-bottom: 10px;
    padding-left: 5px;
    border-left: 5px solid var(--red);
    text-align: left;
    font-size: 24px;
    /* display: none; */
}

#text {
    position: relative;
    color: var(--black);
    top: -10px;
    font-size: 20px;
}

table {
    box-sizing: border-box;
    display: block;
    overflow-y: scroll;
    border-collapse: collapse;
    width: 100%;
    height: 320px;
        font-size: 15px;
}
span.races {
    width: 398px;
    display: block;
    float: left;
    text-align: center;
    font-size: 19px;
    margin-bottom: 15px;
}
span.priter {
    width: 300px;
    display: block;
    float: left;
    text-align: center;
    font-size: 19px;
    margin-bottom: 15px;
}
span.juret {
    width: 199px;
    display: block;
    float: left;
    text-align: center;
    font-size: 19px;
    margin-bottom: 15px;
}

tbody {
    box-sizing: border-box;
    width: 100%;
    display: table;
}

table::-webkit-scrollbar {
    width: 5px;
    background-color: transparent;
}
table::-webkit-scrollbar-thumb {
    background-color: var(--white-trans);
}
table::-webkit-scrollbar-track {
    background-color: var(--black-trans);
}

.prod_name {
    width: 40%;
    text-align: left;
    letter-spacing: 1px;
    line-height: 40px;
}

tr {
    height: 40px;
}

.row0 {
    background-color: var(--gray-trans);
}

.presence span {
    padding-left: 10px;
    color: var(--white);
}

.input_val {
    width: 30%;
    text-align: center;
}

.input_form {
    background-color: transparent;
    border: none;
    text-align: center;
    font-family: 'Neucha', cursive;
    font-size: 20px;
    color: var(--gold);
    height: 20px;
    /* width: 100%; */
    transition-duration: 0.4s;
    float: left;
    width: 50%;
    margin-top: 10px;
}

.input_form:focus {
    background-color: var(--white-trans);
    color: var(--black) !important;
    outline: none !important;
}

/*В js есть проблема, связанная с тем, что после изменения 'input value' hover больше не работает*/
.input_form:hover {
    background-color: var(--white-trans) !important; 
    color: var(--black) !important;
} 

.notsale {
    color: var(--red) !important;
}

.btn {
    width: 20%;
    text-align: right;
    padding-right: 5px;
}

.btn  button{
    width: 75%;
    color: var(--white);
    font-size: 20px !important;
    font-family: 'Neucha', cursive;
    height: 100%;
    outline: none;
   /* box-shadow: 0 0 3px var(--light-gray);*/
}

.btn  button:hover {
    color: var(--black);
/*   box-shadow: 0 0 8px var(--white-trans)*/
}

.btn2  button{
    background-color: var(--red);
}

.btn2  button:hover {
    color: var(--white);
}

.prod_name div {
    overflow: hidden;
    box-sizing: border-box;
    width: 15px;
    height: 40px;
    float: left;
    margin-right: 5px;
    color: var(--green);
    font-size: 40px;
    text-align: center;
    line-height: 40px;
}

.prod_name div .online {
    color: var(--green);
}
.prod_name div .offline {
    color: var(--red);
}
.prod_name div .online_notwork {
    color: var(--gold);
}

input {
    border-radius: 4px;
}

.input_val div {
    box-sizing: border-box;
    float: left;
    width: 25%;
    text-align:right;
    padding-right: 20px;
}



.septim_img {
    float: left;
    width: 40px;
    height: 40px;
    background-image: url(../resources/img/septim.png);
    background-size: 26px 26px;
    background-repeat: no-repeat;
    background-position: center center;
}
.septim_text {
    float: right;
    line-height: 40px;

}

button[class='workerRemove'] {
    color: var(--white);
    background-color: var(--red);
    box-shadow: 0 0 3px var(--red);
}
button[class='workerRemove']:hover {
    color: var(--white);
   background-color: var(--red);
   box-shadow: 0 0 8px var(--red);
}

button {
    overflow: hidden;
    color: var(--white);
    transition-duration: 0.4s;
    border-radius: 3px;
    background: none;
    border: 2px solid #777;
    cursor: pointer;
    margin: 0 auto;
    text-align: center;
    margin-top: 0px;
}


