<template></template>

<script>
export default { name: "VFrame" };
</script>

<style lang="scss">
.frame {
  display: flex;
  align-items: center;
  flex-direction: column;
  &__logo {
    position: relative;
    box-sizing: border-box;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    bottom: -20.6px;
    width: 120px;
    height: 50px;
    background: url(../assets/img/menu_logo-bg.svg) no-repeat center;
    background-size: contain;
    z-index: 2;
  }
  &__header {
    position: relative;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 5px 40px;
    bottom: -11px;
    width: 805px;
    height: 47px;
    background: url(../assets/img/menu_header-bg.svg) no-repeat center;
    background-size: contain;
  }
  &__nav {
    &-item {
      img {
        width: 20px;
        height: 20px;
        margin-right: 10px;
      }
      &:last-of-type {
        img {
          margin: 0;
        }
      }
    }
  }
  &__content {
    box-sizing: border-box;
    padding: 40px;
    width: 960px;
    height: 490px;
    background: url(../assets/img/menu_content-bg.svg) no-repeat center;
    background-size: contain;
  }

  &__footer {
    position: relative;
    top: -9px;
    width: 607px;
    height: 30px;
    background: url(../assets/img/menu_footer-bg.svg) no-repeat center;
    background-size: contain;
  }
}
</style>
