<template>
  <div class="frame">
    <div class="frame__logo">
      <img src="../../assets/img/taverna_velikan-logo.svg" alt>
    </div>
    <div class="frame__header">
      <div class="frame__nav">
        <router-link class="frame__nav-item" to="/taverna/taverna">
          <img src="../../assets/img/stat-icon.svg" alt>
        </router-link>
        <router-link class="frame__nav-item" to="/taverna/purchase">
          <img src="../../assets/img/price-icon.svg" alt>
        </router-link>
        <router-link class="frame__nav-item" to="/taverna">
          <img src="../../assets/img/purchase_icon.svg" alt>
        </router-link>
        <router-link class="frame__nav-item" to="/taverna">
          <img src="../../assets/img/worker-icon.svg" alt>
        </router-link>
      </div>
    </div>
    <div class="frame__content">Purchase</div>
    <div class="frame__footer"></div>
  </div>
</template>
<script>
export default {};
</script>

<style lang="scss">
</style>
