<template>
  <div id="app">
    <router-view></router-view>
  </div>
</template>
<script>
import VFrame from "./components/VFrame.vue";

export default {
  components: { VFrame }
};
</script>

<style lang="scss">
#app {
}
</style>
